In [18]:
import pandas as pd
import yfinance as yf
yf.pdr_override()

In [19]:
#Lấy dữ liệu về cổ phiếu của NVIDIA corporation từ ngày 22/1/1999 đến 5/1/2024
stock_name = 'NVDA'
start = '1999-01-22' 
end = '2024-01-05'
df = yf.download(stock_name, start, end)
df = df.reset_index()

[*********************100%%**********************]  1 of 1 completed

In [20]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1999-01-22,0.437500,0.488281,0.388021,0.410156,0.376255,271468800
1,1999-01-25,0.442708,0.458333,0.410156,0.453125,0.415672,51048000
2,1999-01-26,0.458333,0.467448,0.411458,0.417969,0.383422,34320000
3,1999-01-27,0.419271,0.429688,0.395833,0.416667,0.382228,24436800
4,1999-01-28,0.416667,0.419271,0.412760,0.415365,0.381033,22752000
...,...,...,...,...,...,...,...
6274,2023-12-28,496.429993,498.839996,494.119995,495.220001,495.220001,24658700
6275,2023-12-29,498.130005,499.970001,487.510010,495.220001,495.220001,38869000
6276,2024-01-02,492.440002,492.950012,475.950012,481.679993,481.679993,41125400
6277,2024-01-03,474.850006,481.839996,473.200012,475.690002,475.690002,32089600
6278,2024-01-04,477.670013,485.000000,475.079987,479.980011,479.980011,30653500

In [21]:
df.to_csv('NVDA.csv', index=False)